In [2]:
mylist = [1,2,3,4]

In [5]:
mylist2 = [1, False, 'cadena1', 'cadena2']
print(mylist2)

[1, False, 'cadena1', 'cadena2']

In [6]:
mylist3 = [[mylist2], [mylist]]
print(mylist3)

[[[1, False, 'cadena1', 'cadena2']], [[1, 2, 3, 4]]]

In [7]:
len(mylist3)

2

In [3]:
myset1 = {1,2,3,4,5}
print(myset1)

{1, 2, 3, 4, 5}

In [4]:
type(myset1)

set

In [5]:
len(myset1)

5

In [6]:
myset2 = {44,44,52,52,54}
len(myset2)

3

In [7]:
print(myset2)

{44, 54, 52}

In [8]:
{1,2,3,4} == {4,4,4,4,4,2,3,1,1}

True

In [9]:
mitupla = (1,2,3,4)
len(mitupla)

4

In [12]:
(2,1,3) == (3,2,1)

False

In [13]:
list2 = [1,2]

In [14]:
list2.append(3)

In [15]:
print(list2)

[1, 2, 3]

In [16]:
mitupla.append(5)

AttributeError: 'tuple' object has no attribute 'append'